
@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewData["Title"] = "Endre Passord";
}

<style>
    h2 {
        text-align: center;
    }
</style>

<h2>Endre Passord</h2>

 
<form action="null" method="post">
    <div class="form">
    <label for="current-password">Nåværende passord:</label>
    <input type="password" id="current-password" name="current-password" required>
    </div>
    <div class="form">
    <label for="new-password">Nytt passord:</label>
    <input type="password" id="new-password" name="new-password" required>
    </div>
    <div class="form">
        <label for="confirm-password">Bekreft nytt passord:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    </div>

    <button type="submit" class="btn btn-primary">Endre passord</button>
</form>

    @section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


