@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kontakt";
}


<div class="text-section">
    <h2 class="ubuntu-bold-italic">Takk for henvendelsen</h2>
    <p class="ubuntu-light">
        Meldingen din har blitt sendt. Du hører fra oss så fort saken er behandlet!
    </p>
</div>

<a asp-controller="Home" asp-action="Index">Tilbake forsiden</a>