@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kontakt";
}

<h2>Takk for henvendelsen</h2>
<p>Meldingen din har blitt sendt. Du hører fra oss så fort saken er behandlet!</p>
<a asp-controller="Home" asp-action="Index">Tilbake forsiden</a>