<h2>Gruppe 14</h2>


<div class="members-container">
    <div class="member-card">
        <img class="member-card-img" src="~/images/Amund.jpg" alt="Bilde av Amund">
        <h3>Amund</h3>
        <p><strong>Interesser:</strong> AI-Teknologi, prosjektstyring og frontend utvikling.</p>
        <p class="contact-info">
            <img src="~/images/uia-horisontal-uten-navn-positiv.svg" alt="Icon" style="vertical-align: middle; margin-right: 5px; width: 50px; height: 50px;">
            amundm@uia.no
        </p>
        <a class="linkedin-link" href="">
            <i class='bx bxl-linkedin'></i>
            Amund Mikalsen
        </a>
    </div>


    <div class="member-card">
        <img class="member-card-img" src="~/images/Anders.jpg" alt="Bilde av Anders">
        <h3>Anders</h3>
        <p><strong>Interesser:</strong> Fullstack-utvikling, maskinlæring, og datasikkerhet.</p>
        <p class="contact-info">
            <img src="~/images/uia-horisontal-uten-navn-positiv.svg" alt="Icon" style="vertical-align: middle; margin-right: 5px; width: 50px; height: 50px;">
            anderstf@uia.no
        </p>
        <a class="linkedin-link" href="">
            <i class='bx bxl-linkedin'></i>
            Anders Fløysvik
        </a>
    </div>

    <div class="member-card">
        <img class="member-card-img" src="~/images/Simon.jpg" alt="Bilde av Simon">
        <h3>Simon</h3>
        <p>
            
            <strong>Interesser:</strong> Full-Stack webutvikling og UX-Design.
        </p>
        <p class="contact-info">
            <img src="~/images/uia-horisontal-uten-navn-positiv.svg" alt="Icon" style="vertical-align: middle; margin-right: 5px; width: 50px; height: 50px;">
            simonp@uia.no
           </p>
        <a class="linkedin-link" href="https://www.linkedin.com/in/simon-portillo-75a46628b/?trk=eml-b2_professional_identity_digest_02-header-0-profile_glimmer">
            <i class='bx bxl-linkedin'></i>
            Simon Portillo
        </a>
    </div>

    <div class="member-card">
        <img class="member-card-img" src="~/images/Jone.jpg" alt="Bilde av Jone">
        <h3>Jone</h3>
        <p><strong>Interesser:</strong> Frontend utvikling, databaser og arkitektur.</p>
        <p class="contact-info">
            <img src="~/images/uia-horisontal-uten-navn-positiv.svg" alt="Icon" style="vertical-align: middle; margin-right: 5px; width: 50px; height: 50px;">
            jonem@uia.no
        </p>
        <a class="linkedin-link" href="">
            <i class='bx bxl-linkedin'></i>
            Jone Manneråk
        </a>
    </div>

    <div class="member-card">
        <img class="member-card-img" src="~/images/Martin.jpg" alt="Bilde av Martin">
        <h3>Martin</h3>
        <p><strong>Interesser:</strong> Backend, sikkerhet og systemer.</p>
        <p class="contact-info">
            <img src="~/images/uia-horisontal-uten-navn-positiv.svg" alt="Icon" style="vertical-align: middle; margin-right: 5px; width: 50px; height: 50px;">
            marting@uia.no
        </p>
        <a class="linkedin-link" href="">
            <i class='bx bxl-linkedin'></i>
            Martin Goberg
        </a>
    </div>
   
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

