﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

   
        <div class="box-container">
                <div class="box">
                    <h1>Rapporteringstjeneste fra Kartverket</h1>
                    <p>Bidra med å forbedre kartgrunnlaget til Kartverkets offentlige kart</p>
                    <a asp-action="CorrectMap" class="btn-primary">Til Kartet</a>
                </div>

                <div id="phone-img">
                    <!-- image -->
                </div>

               
        </div>
<div class="text-section">
    
        <h2 class="ubuntu-bold-italic">Kort om tjenesten</h2>
        <p class="ubuntu-light"> 
            Kartverket tilbyr en tjeneste der brukere enkelt kan rapportere feil i kartet 
            ved å tegne direkte på det digitale kartet. Gjennom denne funksjonen kan brukerne 
            markere områder hvor de oppdager unøyaktigheter eller mangler, som for eksempel 
            feilplasserte veier, bygninger eller andre geografiske objekter. Når brukeren 
            tegner på kartet og beskriver feilen, sendes informasjonen til 
            Kartverkets systemer for vurdering og oppdatering. Denne brukerdrevne 
            tilnærmingen bidrar til mer nøyaktige og oppdaterte kartdata, samtidig
            som det fremmer et samarbeid mellom Kartverket og publikum for å 
            opprettholde kvaliteten på karttjenestene.
        </p>
</div>

<div class="box-container">
    <div>
        <a href="https://www.kartverket.no/">
        <img src="/images/kartverket-logo-large.svg" />
        </a>
    </div>
</div>