﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<div id="wide-container"> 
    <div class="box-container">
            <div class="box">
                <h2>Rapporteringstjeneste fra Kartverket</h2>
                <p>Bidra med å forbedre kartgrunnlaget til Kartverkets offentlige kart</p>
                <a asp-action="CorrectMap" class="btn-primary">Til Kartet</a>
            </div>
        

        
        
            <div class="box">
            <!-- Boks som holder et vekslende bilde -->
            </div>
    </div>
</div>

