
@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewData["Title"] = "Min Side";
}
<a asp-controller="Home" asp-action="Index">
    <i class='bx bx-chevron-left'></i>
</a>
<h1>Min Side</h1>

<div class="box-container">
    <div class="box">
        <a asp-controller="" asp-action="">
            <h3>Mine Saker
                <i class='bx bx-chevron-right'></i>
            </h3>
        </a>
        <a asp-controller="" asp-action="">
            <h3> Inbox
                <i class='bx bx-chevron-right'></i>
            </h3>  
        </a>
        <a asp-controller="" asp-action="">
            <h3>Instillinger
                <i class='bx bx-chevron-right'></i>
            </h3>
        </a>
    </div>

    
    <div class="box">
        <h2>
            Oversikt over siste sak
        </h2>
    </div>
</div>



