
@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewData["Title"] = "Min Side";
}
<div class="box-container">
<div class="box">
    <h2>Min Side</h2>
    
    
</div>
</div>
    @section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


