@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrer endring";
}

<h2>Korriger ved å tegne i kartet:</h2>


<div class="flex-row">
    <div class="element1">
        <div id="map">
            <div id="verticalButtonContainer">
                <button id="toggleButton">
                    <i class='bx bx-layer' id="layers"></i>
                </button>
                <button id="geolocateButton">
                    <i class='bx bx-current-location' id="cross"></i>
                </button>
                <button id="fullscreenButton">
                    <i class='bx bx-fullscreen' id="fullscreen"></i>
                </button>
            </div>
             <div id="buttonContainer">
            <div>
                <button id="btn-changeToLand" onclick="changeToLand()"></button>
            </div>
            <div>
                <button id="btn-changeToGrey" onclick="changeToGrey()"></button>
            </div>
            <div>
                <button id="btn-changeToRaster" onclick="changeToRaster()"></button>
            </div>
            <div>
                <button id="btn-changeToSea" onclick="changeToSea()"></button>
            </div>
            <div>
                <button id="btn-changeToAerial" onclick="changeToAerial()"></button>
            </div>
    </div>
            

        </div>
    </div>
    <div class="element2">
        <form id="areaChangeForm" asp-action="RegisterAreaChange" method="post">

            <input type="hidden" class="form-control" id="geoJsonInput" name="GeoJSON" readonly>
            

            <label for="description">Beskrivelse:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>

            <button type="submit" class="btn-primary">Send inn</button>
        </form>
    </div>
</div>



@section Scripts {
    
    <script>
            //fjerner kartlag og tvinger på kartet til kartverket
        map.eachLayer(function (layer) {
        if (!(layer instanceof L.FeatureGroup)) {  
            map.removeLayer(layer);
        }
        L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', { attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>' }).addTo(map);
    });
        
        var searchControl = new L.esri.Controls.Geosearch().addTo(map);// Add the geocoding searchbar

        document.querySelector('.geocoder-control').style.zIndex = '2000';

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: true,
                polyline: true,
                rectangle: true,
                circle: false,
                marker: true,
                circlemarker: false
            },
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;

            drawnItems.addLayer(layer);

            var geoJsonData = layer.toGeoJSON();
            var geoJsonString = JSON.stringify(geoJsonData);

            document.getElementById('geoJsonInput').value = geoJsonString;
        });

        
    </script>

    
}



