@{
    ViewData["Title"] = "Kartverket API Search";
}

<h2 style="text-align: center;">punkt kommune og fylke info</h2>
<form asp-action="KommuneInfo" method="post">
    @Html.AntiForgeryToken()
    <label for="Nord">nord</label>
    <input type="number" id="Nord" name="nord" step="any" />
    <label for="Ost">øst</label>
    <input type="number" id="Ost" name="ost" step="any" />
    <input type="hidden" id="koordsys" name="koordsys" value="4258" />
    <button class="btn-primary" type="submit">Søk</button>
</form>

<h2 style="text-align: center;">Søk etter stedsnavn</h2>
<form asp-action="Stedsnavn" method="post">
    @Html.AntiForgeryToken()
    <label for="searchTerm">Stedsnavn:</label>
    <input type="text" id="searchTerm" name="searchTerm" />
    <button class="btn-primary" type="submit">Søk</button>
</form>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}