@model kartverketprosjekt.Models.KommuneInfoViewModel

<h2>Kommune Resultat</h2>

@if (Model != null)
{
    <table class="styled-table">
        <thead>
            <tr>
                <th>Kommunenavn</th>
                <th>Kommunenummer</th>
                <th>Fylkesnavn</th>
                <th>Fylkesnummer</th>
            </tr>
        </thead>
        @if (Model != null)
        {
            <tr>
                <td>@Model.Kommunenavn</td>
                <td>@Model.Kommunenummer</td>
                <td>@Model.Fylkesnavn</td>
                <td>@Model.Fylkesnummer</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="4">No information available.</td>
            </tr>
        }
    </table>
}

