@model kartverketprosjekt.Models.SakModel

@{
    ViewData["Title"] = "Registrer endring";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<a asp-controller="Home" asp-action="Index">
    <i class='bx bx-chevron-left'></i>
</a>

<h2 id="stepTitle"></h2>
<div id="progressContainer" style="margin-top: 20px;">
    <div id="progressBar" style="width: 0%; background-color: #4caf50; height: 8px;"></div>
</div>

<div class="flex-row">
    <div class="element1">
        <div id="map">
            <div id="verticalButtonContainer">
                <button id="toggleButton">
                    <i class='bx bx-layer' id="layers"></i>
                </button>
                <button id="geolocateButton">
                    <i class='bx bx-current-location' id="cross"></i>
                </button>
                <button id="fullscreenButton">
                    <i class='bx bx-fullscreen' id="fullscreen"></i>
                </button>
            </div>
            <div id="buttonContainer">
                <div>
                    <button id="btn-changeToLand" onclick="changeToLand()"></button>
                </div>
                <div>
                    <button id="btn-changeToGrey" onclick="changeToGrey()"></button>
                </div>
                <div>
                    <button id="btn-changeToRaster" onclick="changeToRaster()"></button>
                </div>
                <div>
                    <button id="btn-changeToSea" onclick="changeToSea()"></button>
                </div>
            </div>
            

        </div>
    </div>


    <div class="element2">
        <form id="areaChangeForm" asp-controller="Sak" asp-action="RegisterAreaChange" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <!-- Skjult felt for GeoJSON-data -->
            <input type="hidden" class="form-control" id="geoJsonInput" name="geojson_data" readonly>
            <!-- Skjult felter for koordinater -->
            <input type="number" id="Nord" name="nord" step="any" placeholder="nord" hidden readonly />
            <input type="number" id="Ost" name="ost" step="any" placeholder="øst" hidden readonly />
            <input type="hidden" id="koordsys" name="koordsys" value="4258" />

            <!-- Beskrivelse (påkrevd) -->
            <label class="ubuntu-regular" for="beskrivelse">Beskrivelse:</label>
            <textarea class="form-control, ubuntu-light" id="beskrivelse" name="beskrivelse" required placeholder="Maksimum 250 tegn" maxlength="250"></textarea>

            <!-- Opplastning av vedlegg (valgfritt) -->
            <label class="ubuntu-regular" for="vedlegg">Vedlegg (valgfritt):</label>

            <input class="ubuntu-light" type="file" class="form-control" id="vedlegg" name="vedlegg">

            <!-- Layerurl (generert under av js) -->

            <!-- Type dropdown meny -->
            <label class="ubuntu-regular" for="typeFeil">Type:</label>
            <select class="form-control" id="typeFeil" name="type_feil" required>
                <option value="" disabled selected>...</option>
                <option value="Annet">Annet</option>
                <option value="Feil i vei">Vei</option>
                <option value="Feil i tursti">Tursti</option>
                <option value="Feil i stedsnavn">Stedsnavn</option>
                <option value="Feil i eiendom">Eiendom</option>
            </select>

            <!-- Skjult felt for kommune ID -->
            <input type="hidden" name="kommune_id" value="1">

            <!-- Skjult felt for status -->
            <input type="hidden" name="status" value="Påbegynt">

            <!-- Modal for bekreftelse -->
            <div id="confirmationModal" style="display:none;">
                <div>
                    <span class="close">&times;</span>
                    <h2>Bekreft innsending</h2>
                    <p>Er du sikker på at du vil sende inn saken?</p>
                    <button class="btn btn-danger" id="confirmSubmit">Bekreft</button>
                </div>
            </div>

            <!-- Send-knapp -->
            <button type="submit" class="btn btn-primary" id="openConfirmationModal">Send inn</button>

        </form>
    </div>
</div>



@section Scripts {
    <script src="/js/registerareachange.js"></script>
}



