#map {
    width: 100%;
    /* Make the map take the full width of the viewport */
    height: 100%;
    /* Make the map take the full height of the viewport */
    position: relative;
    /* Establish a positioning context for absolutely positioned children */
    min-height: 500px;
    /* Set a minimum height for the map */
    border: 1px solid #64DD8A;
    /* Add a border with color #64DD8A */
    border-radius: 15px;
    /* Add rounded corners */
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    /* Distribute space evenly */
    align-items: center;
    /* Center items vertically */
    flex-wrap: wrap;
    /* Allow buttons to wrap to the next line if needed */
    padding: 20px;
    /* Add padding around the container */
    position: absolute;
    /* Position the container absolutely within the map */
    bottom: 30px;
    /* Adjust as needed */
    left: 200px;
    /* Adjust as needed */
    right: 200px;
    /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.4);
    /* Semi-transparent background */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better visibility */
    z-index: 1000;
    /* Ensure the button container appears on top of map tiles*/
    animation: slideIn 0.5s ease-out;
    /* Apply the slide-in animation */
    display: none;
    /* Initially hide the button container */
}

@media (min-width: 1600px) {
    #buttonContainer {
        left: 20px;
        /* Adjust as needed */
        right: 20px;
        /* Adjust as needed */
    }
}
@media (max-width: 800px) {
    #buttonContainer {
        left: 20px;
        /* Adjust as needed */
        right: 20px;
        /* Adjust as needed */
    }
}

#buttonContainer button {
    flex: 1 1 100px;
    /* Allow buttons to grow and shrink, with a minimum width of 100px */
    margin: 10px;
    /* Space between buttons */
    padding: 22px;
    /* Adjust padding as needed */
    border: 2px solid black;
    /* Corrected border syntax */
    background-size: cover;
    /* Ensure background image covers the button */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent background image from repeating */
    transition: transform 0.1s ease-in-out;
    /* Smooth transition for scaling */
}

    #buttonContainer button:hover {
        transform: scale(1.2);
        /* Scale up on hover */
        cursor: pointer;
        /* Pointer cursor on hover */
    }

.map-btn {
    padding: 8px 38px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.1s ease-in-out;
}

    .map-btn:hover {
        transform: translateY(-2px);
    }


.map-h3 {
    padding: 10px 0px;
    margin: 0;
}


@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Specific button styles */
#btn-changeToLand {
    background-image: url(../Images/land.png);
}

#btn-changeToRaster {
    background-image: url(../Images/raster.png);
}

#btn-changeToGrey {
    background-image: url(../Images/grey.png);
}

#btn-changeToSea {
    background-image: url(../Images/sea.png);
}



/* Container styling */
#verticalButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top initially */
    align-items: flex-end;
    padding: 20px;
    height: 100%;
}

    /* General button styling */
    #verticalButtonContainer button {
        margin: 10px 5px;
        padding: 10px 10px;
        background-color: var(--background-color);
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
        color: var(--text-color);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        z-index: 1001;
        transition: 0.2s;
    }

        #verticalButtonContainer button:hover {
            transition-timing-function: ease-in-out;
            transform: scale(1.1);
        }

/* Active/toggled button styling */
#verticalButtonContainer button.active {
    background-color: var(--button-text-hover-color); 
    color: var(--button-text-hover-color-alternate); 
}


/* Optional icon styling */
#matrikkel,
#vegnett,
#layers,
#cross,
#fullscreen {
    font-size: 30px;
}


#currentLayer {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    color: black;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: bold;
    z-index: 999999;
}
#layerName {
    font-weight: lighter;
}
