:root {
    /* variables for lightmode/normal colorscheme*/
    --background-color: #f3f1f1;
    --text-color: #000000;
    --navbar-background-color: #ffffff;
    --navbar-text-color: #000;
    --button-text-hover-color: #1a833b;
    --button-text-hover-color-alternate: #ffffff;
    --form-background-color: #f9f9f9;
    --form-text-color: #000000;
    --button-background-color: #1a833b;
    --button-background-color-alternate: #606367;
    --button-background-hover-color: rgba(100, 221, 138, 1);
    --button-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --footer-background-gradient: linear-gradient(0deg, rgba(26, 131, 59, 1) 10%, rgba(39, 40, 42, 0) 100%);
    --footer-h1: white;
    --box-background-color: #ffffff;
    --box-background-color-alternate: #f9f9f9;
}

body.dark-mode {
    /* variables for darkmode colorscheme*/
    --background-color: #27282a;
    --text-color: #e9e9e9;
    --navbar-background-color: #ffffff;
    --navbar-text-color: #000000;
    --button-text-hover-color: #1a833b;
    --button-text-hover-color-alternate: #ffffff;
    --form-background-color: #3e3f41;
    --form-text-color: #000000;
    --button-background-color: #1a833b;
    --button-background-color-alternate: #606367;
    --button-text-color: #ffffff;
    --footer-text-color: #000000;
    --footer-background-gradient: linear-gradient(0deg, rgba(100, 221, 138, 1) 57%, rgba(39, 40, 42, 0) 100%);
    --footer-h1: black;
    --box-background-color: #3e3f41;
    --box-background-color-alternate: #1a833b;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html {
    font-family: "Ubuntu", Verdana, sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background: rgba(100, 221, 138, 1);
    /*changes highlight color*/
}

.alert {
    color: var(--button-text-hover-color);
}
/* font styles*/
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    /*opacity: 0;*/
    /* Start with the h1 hidden */
   /* transition: opacity 1s ease-in-out;*/
    /* Add transition for smooth fade-in */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-size: large;
    padding-top: 75px;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    width: 100%; /* or a specific width like 800px */
    max-width: 100%; /* Ensure it doesn't have a restrictive max-width */
    padding: 0; /* Adjust padding if necessary */
    margin: 0 auto; /* Center the main element if needed */
}


#darkModeToggle {
    color: var(--navbar-text-color);
    border: none;
    cursor: pointer;
}

    #darkModeToggle:hover {
        transform: translateY(-2px);
        /* Move button up on hover */
        cursor: pointer;
        /* Change cursor to pointer */
        color: var(--button-text-hover-color);
    }



#navbar {
    background-color: var(--navbar-background-color);
    overflow: hidden;
    position: fixed;
    /* Make the navbar fixed */
   /* top: -100px;*/
    /* Start the navbar off-screen */
    width: 100%;
    z-index: 2000;
    /* Ensure it appears above other elements */
    /*transition: top 1.2s ease-in-out;*/
    /* Add transition for smooth animation */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for 3D effect */
}

    #navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* Vertically align items */
    }


        #navbar ul li {
            display: inline-block;
            list-style-type: none;
        }

            #navbar ul li:first-child {
                margin-right: auto;
            }

            #navbar ul li > * {
                color: var(--navbar-text-color);
                display: block;
                white-space: nowrap;
                padding: 1em 3em;
                text-decoration: none;
                transition-duration: 0.3s;
            }

                #navbar ul li > *:hover {
                    transform: scale(1.1);
                    transition-timing-function: ease-in-out;
                    /* Move button up on hover */
                    cursor: pointer;
                    /* Change cursor to pointer */
                    color: var(--button-text-hover-color);
                }

#menuButton {
    background-color: var(--navbar-background-color);
    /* Semi-transparent background */
    border: none;
}
#menu {
    font-size: 30px;
    background-color: var(--navbar-background-color);
}

/* Media query for fullscreen mode */
@media (min-width: 1024px) {
    #navbar ul {
        margin: 0 250px; /* Adjust the margin as needed */
    }
}

@media (max-width: 700px) {
    #navbar ul a {
        display: none;
    }
    #navbar {
        background-color: var(--background-color);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }
    #menu {
        background-color: var(--background-color);
    }
    #menuButton {
        background-color: var(--background-color);
        /* Semi-transparent background */
        border: none;
    }

}

#kartverketLogo {
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 20px;
    /* Space between the logo and the nav items */
}



#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    /* Adjust the padding value as needed */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    background-color: var(--background-color);
}

h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    /* Ensure the h2 takes the full width of its container */
    margin: 0;
    /* Remove any default margin */
    
}

p {
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 12px;
}
    
@media (min-width: 1024px) {
    #container {
        padding: 10px 300px;
        /* Add side padding for larger screens */
    }
}

form {
    display: flex;
    flex-direction: column;
    /* Align elements vertically */
    width: 100%;
    /* Ensure the form takes the full width of its container */
    max-width: 400px;
    /* Optional: Set a maximum width for the form */
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    /* Center the form horizontally */
    padding: 20px;
    /* Add padding around the form */
    background-color: var(--form-background-color);
    /* Optional: Set a background color */
    border-radius: 5px;
    /* Optional: Add rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better visibility */
}

@media (min-width: 1024px) {
    form {
        max-width: 600px;
    }
}

@media (max-width: 1024px) {
    .flex-row {
        flex-wrap: wrap;
    }
}
form label {
    margin-bottom: 5px;
    /* Space between label and input */
    font-weight: bold;
    /* Make labels bold */
}

form textarea {
    margin-bottom: 15px;
    /* Space between form elements */
    padding: 10px;
    /* Add padding inside inputs */
    border: 1px solid #ccc;
    /* Add a border to inputs */
    border-radius: 3px;
    /* Add rounded corners to inputs */
    width: 100%;
    /* Make inputs take the full width of the form */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    resize: vertical;
}

form input[type="email"] {
    margin-bottom: 15px;
    /* Space between form elements */
    padding: 10px;
    /* Add padding inside inputs */
    border: 1px solid #ccc;
    /* Add a border to inputs */
    border-radius: 3px;
    /* Add rounded corners to inputs */
    width: 100%;
    /* Make inputs take the full width of the form */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    resize: none;
}

form input[type="text"] {
    margin-bottom: 15px;
    /* Space between form elements */
    padding: 10px;
    /* Add padding inside inputs */
    border: 1px solid #ccc;
    /* Add a border to inputs */
    border-radius: 3px;
    /* Add rounded corners to inputs */
    width: 100%;
    /* Make inputs take the full width of the form */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    resize: none;
}
input[type="password"] {
    margin-bottom: 15px;
    /* Space between form elements */
    padding: 10px;
    /* Add padding inside inputs */
    border: 1px solid #ccc;
    /* Add a border to inputs */
    border-radius: 3px;
    /* Add rounded corners to inputs */
    width: 100%;
    /* Make inputs take the full width of the form */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    resize: none;
}
form input[type="submit"] {
    padding: 10px 20px;
    /* Add padding inside the submit button */
    background-color: var(--button-background-color);
    /* Set background color */
    color: var(--button-text-color);
    /* Set text color */
    border: none;
    /* Remove border */
    border-radius: 3px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor to pointer */
    font-size: 16px;
    /* Increase font size */
    transition: 0.3s;
}


    form input[type="submit"]:hover {
        transition-timing-function: ease-in-out;
        background-color: var(--button-text-hover-color);
        color: var(--button-text-hover-color-alternate);
        /* Change background color on hover */
    }

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Adjust as needed: space-between, space-around, space-evenly, etc. */
    align-items: center; /* Adjust as needed: center, flex-start, flex-end, etc. */
    gap: 5%;
}

.element1 {
    width: 100%;
}

.element2 {
    width: 100%;
}

#footer {
    /*background-color: #0d1b2a; /* ikke gradient */
    background: var(--footer-background-gradient);
    color: var(--footer-text-color);
    text-align: center;
    /* Center the text */
    padding-top: 50px;
    /* Add padding around the footer */
    padding-bottom: 50px;
    position: relative;
    /* Ensure the footer is positioned relative to its parent */
    width: 100%;
    /* Make the footer take the full width of its container */
}

#footerContainer {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: row;
    justify-content: space-between;
    /* Distribute space evenly */
    flex-wrap: nowrap;
    padding: 50px 120px;
    /* Add padding around the container */
    margin: 10vw 15vw;
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    border: none;
    /* Remove default border */
    border-radius: 15px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), /* Inner shadow for recessed look */
    0 4px 3px rgba(0, 0, 0, 0.1); /* Outer shadow for raised look */
}

@media (max-width: 800px) {
    #footerContainer {
        flex-direction: column;
        /* make items align in column on phone-screen */
    }
}

#footer-h1 {
    color: var(--footer-h1);
    margin-top: 200px;
}

.bx {
    font-size: 100px;
}

.footer-btn {
    transform: translateY(0);
    /* Reset any previous transform */
    transition: transform 0.2s ease-in-out;
    /* Add smooth transition for transform */
}

    .footer-btn:hover {
        transform: translateY(-5px);
        /* Move button up on hover */
        cursor: pointer;
        /* Change cursor to pointer */
    }

a {
    text-decoration: none;
    /* Remove underline from links */
    color: inherit;
    /* Inherit text color */
}

.btn-primary {
    background-color: var(--button-background-color);
    /* Set background color */
    color: var(--button-text-color);
    /* Set text color */
    padding: 15px 20px;
    /* Add padding inside the button */
    border: none;
    /* Remove border */
    border-radius: 3px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor to pointer */
    transition: 0.15s;
    

}
.btn-secondary {
    background-color: var(--button-background-color-alternate);
    /* Set background color */
    color: var(--button-text-color);
    /* Set text color */
    padding: 15px 20px;
    /* Add padding inside the button */
    border: none;
    /* Remove border */
    border-radius: 3px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor to pointer */
    transition: 0.15s;
}

    .btn-primary:hover {
        transition-timing-function: ease-in-out;
        background-color: var(--button-background-hover-color);
        color: var(--button-text-hover-color);
    }
    .btn-secondary:hover {
        transition-timing-function: ease-in-out;
        background-color: var(--button-background-hover-color);
        color: var(--button-text-hover-color);        
    }

.box-container {
    margin-top: 100px; /* Remove or adjust the margin-top property */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
    height: 100%; 
}

    .box {
        flex: 1;
        margin-bottom: 75px;
        height: 35vh;
        padding: 25px;
        justify-content: center;
        align-items: center;
        background-color: var(--box-background-color);
        border-radius: 10px;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
        max-width: 600px;
        width: 100%;
    }

        .box p {
        
            padding-bottom: 30px;

        }

#phone-img {
    flex: 1;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 80vh;
    background-image: url('/images/Capture-left.png');
    background-size: 70%;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 0px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    transition: transform 0.7s ease-in-out;
    position: relative;
    top: -50px; /* Adjust the value to move the box higher up */
    min-width: 300px; /* Minimum size for the "small" version */
    max-width: 500px; /* Maximum size for the "large" version */
    width: 100%; /* Let the width adjust freely between the min and max sizes */
}
   


    #phone-img:hover {
        transform: translateY(-10px);
    }

.text-section {
    background-color: var(--box-background-color-alternate);
    max-width: 800px; /* Set a maximum width for readability */
    margin: 0 auto; /* Center the text section */
    padding: 30px 50px; /* Add some padding for better spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 10px;
    border: 0px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    box-shadow: rgba(100, 221, 138, 0.4) 5px 5px, rgba(100, 221, 138, 0.3) 10px 10px, rgba(100, 221, 138, 0.2) 15px 15px, rgba(100, 221, 138, 0.1) 20px 20px, rgba(100, 221, 138, 0.05) 25px 25px;
}

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; /* Center the modal vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Take up the full viewport width */
    max-width: 400px; /* Set maximum width for the modal */
    height: auto; /* Adjust based on content */
    z-index: 9999; /* Ensures it's above the overlay */
    padding: 20px; /* Add some padding around the modal */
}

.modal-content {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form inside the modal */
    width: 100%; /* Ensure content takes full width */
}

#modal button {
    /* kun hvis du skal override vanlige button style*/
}

/* Light background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Very light overlay */
    z-index: 9998; /* Ensures it's behind the modal */
    display: none;  
    backdrop-filter: blur(2px);  /* gjør at det lagger som faen */ 
}

/* Show modal and keep the background visible */
.modal.open {
    display: flex;
}

.overlay.open {
    display: block;
}

#login-form {
    width: 60%;
}

#email-form {
    width: 60%
}

#register-form {
    width: 60%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

    .styled-table thead tr {
        background-color: var(--button-background-color);
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-child(even) {
            background-color: var(--box-background-color-alternate);
        }

        .styled-table tbody tr:nth-child(odd) {
            background-color: var(--box-background-color);
        }

.bxs-chevron-left {
    
    font-size: 50px;
    padding: 0;
    margin-left: -13px; 
    transition: 0.1s ease-in-out;
}
    .bxs-chevron-left:hover {
        cursor: pointer;
        transform: scale(1.05);
        
    }

.bx-toggle-left {
    font-size: 28px;
}   
.bxs-toggle-right {     
    font-size: 28px;
}
.bx-sun {
    font-size: 28px;
}
.bx-moon {
    font-size: 28px;
}